.img{
  width: 100%;
  height: 100%;
}
.img-icon{
  color:rgba(255, 255, 255, 0.769);
  position: absolute;
  top:250px ;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.cover{
  background-color: rgba(14, 14, 94, 0.47);
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  justify-items: center; 
  align-items: center;
}
.cover h3{
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  margin-top: 30px;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 1.5px 1.5px gold ;
  text-align: center;
}
.cover div{
  background-color: rgba(0, 128, 0, 0.675);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.756);
  margin-top: 5px;
  width: 120px;

}
.hide{
  display: none;
}
.img2{
  flex-grow: 0;
  flex-shrink: 0;
  height: 250px;
  width: 300px;
}

.grid{
  display: grid;
  font-size: 20px;
  grid-template-columns: auto;
  grid-template-rows:auto auto auto;
  column-gap: 200px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.grid div{
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.085);
  padding: 5px;
  border-radius: 10px;
}


.center{
  width: 100%;
  justify-items: center;
  background-color: rgba(238, 232, 170, 0.52);
  align-content: center;
  color: rgba(6, 6, 87, 0.536);
  margin: auto;
}

  

  
  .cover h3{
    font-size: 30px;
    text-shadow: 1px 1px gold ;
  }

  @media all and (width <= 350px){
    .grid{
      grid-template-columns: auto ;
  grid-template-rows:auto auto auto auto;
    }
    
  }
